# Ignore compiled binaries in task1
task1-process-threading/src/1_thread_creation
task1-process-threading/src/2_race_condition
task1-process-threading/src/3_synchronization
task1-process-threading/src/4_deadlock
task1-process-threading/src/5_deadlock_prevention
task1-process-threading/src/6_scheduler

# Ignore compiled binaries in task2
task2-memory-management/src/1_paging_system
task2-memory-management/src/2_fifo_replacement
task2-memory-management/src/3_lru_replacement
task2-memory-management/src/4_comparison

# Ignore compiled binaries in task3
task3-filesystem-security/src/1_authentication
task3-filesystem-security/src/2_file_operations
task3-filesystem-security/src/3_permissions
task3-filesystem-security/src/4_encryption
task3-filesystem-security/src/5_audit_logging
task3-filesystem-security/src/6_integrated_system

# Ignore compiled binaries in task4
task4-network-programming/src/1_server_basic
task4-network-programming/src/1_client_basic
task4-network-programming/src/3_server_concurrent
task4-network-programming/src/3_client_concurrent
task4-network-programming/src/4_server_secure
task4-network-programming/src/4_client_secure
task4-network-programming/src/6_server_final
task4-network-programming/src/6_client_final

# Ignore runtime-generated data files (created by running task3 programs)
task3-filesystem-security/src/users.txt
task3-filesystem-security/src/sys_users.txt
task3-filesystem-security/src/audit.log
task3-filesystem-security/src/sys_audit.log
task3-filesystem-security/src/*.txt.enc
task3-filesystem-security/src/*.txt.dec
task3-filesystem-security/src/*.txt.wrongkey
task3-filesystem-security/src/salary.txt
task3-filesystem-security/src/report.txt
task3-filesystem-security/src/notes.txt

# General
*.o
*.out
.DS_Store